<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="img/weather.png">
    <link rel="stylesheet" href="./css/styles.css" />
    <title>About</title>
  </head>
  <body>
      <div class="main">
          {{>header}}
          <p>
            This was a project completed through following Andrew Mead's Node developer course. This app uses Node and Express.
          </p>
          <p>
            The data is pulled using coordinates from the Mapbox API and weather data from the Weatherstack API.
          </p>
          <p>
            To use the app, enter either a city or zip code into the search bar and the app will display location and weather for what was input.
          </p>
    <img class="portrait" src="img/me.jpg" alt="" />
      </div>
    {{>footer}}
  </body>
</html>
